* {
  box-sizing: border-box;
}

html, body {
  background: #222;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  height: 80px;
  list-style: none;
  padding: 0;
  margin: auto;
}

.navigation > h1 {
  color: #222;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 15px 0 0;
  padding: 50px 2em 0;
  transition: .35s;
}

.navigation > h1:hover {
  padding: 32px 2em 0;
}

.navigation > li {
  display: flex;
  cursor: pointer;
  margin: 0 15px;
}

.navigation > li > a {
  border: 3px solid #fff;
  color: #fff;
  display: block;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 900;
  letter-spacing: 1px;
  margin: auto;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation > li > a.selected {
  background: #fff;
  color: #373e40;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  padding: 7em 2em;
}

.row:first-child {
  background: #232138;
}

.row:nth-child(2) {
  background: #e0f0f9;
}

.row:last-child {
  background: #ffb59c;
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 360px;
  overflow: hidden;
  position: relative;
  width: 480px;
  z-index: 0;
}
