/* R7 styling */
.r7 .card-background {
  height: 100%;
  opacity: 1;
  transform: translate3d(-50px, 0, 0);
  transition: .35s transform, .45s opacity;
  width: calc(100% + 50px);
}

.r7 .card-desc {
  bottom: 0;
  color: #fff;
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.5em;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.r7 .card-title {
  font-weight: 300;
  margin: 1em;
}

.r7 .last {
  font-weight: 900;
  margin-left: 5px;
  transition: .35s margin;
}

.r7 .quote {
  position: absolute;
  bottom: 0;
  font-size: .8em;
  text-align: right;
  right: 0;
  padding: 1em;
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
  transition: .35s opacity, .45s transform;
  margin-right: 1em;
  border-right: 3px solid #fff;
  max-width: 250px;
}

.r7 .card:hover .quote {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.r7 .card:hover .last {
  margin-left: -5px;
}

.r7 .card:hover .card-background {
  opacity: .65;
  transform: translate3d(0, 0, 0);
}

/* R8 styling */
.r8 p {
  margin: 0;
}

.r8 .card-background {
  height: 100%;
  opacity: .65;
  transform: translate3d(0, 0, 0);
  transition: .35s opacity, .35s transform;
}

.r8 .card:hover .card-background {
  opacity: 1;
  transform: translate3d(0, -25px, 0);
}

.r8 .card-desc {
  background: #333;
  bottom: 0;
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  min-height: 90px;
  padding: 1em;
  position: relative;
  transition: .35s bottom;
}

.r8 .card:hover .card-desc {
  bottom: 90px;
}

.r8 .card-desc .address {
  font-size: 2em;
}

.r8 .card-desc .neighborhood {
  color: rgba(255, 255, 255, .7);
}

.r8 .card-desc .listing-info {
  display: flex;
}

.r8 .card-desc .item {
  border: 2px solid #fff;
  border-radius: 2px;
  line-height: 1em;
  margin: auto;
  padding: 10px;
}

.r8 .card-desc .cost {
  letter-spacing: 1px;
  margin-left: 10px;
}

/* R9 Styling */
.r9 .card {
  padding: 2em;
}

.r9 .card > figcaption:after {
  border: 2px solid #fff;
  height: calc(50% - 30px);
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  top: 30px;
  width: 100%;
}

.r9 .item {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}
