/* R7 styling */
.r7 .card-background {
  height: 100%;
  opacity: 1;
  transform: translate3d(-50px, 0, 0);
  transition: .35s transform, .45s opacity;
  width: calc(100% + 50px);
}

.r7 .card-desc {
  bottom: 0;
  color: #fff;
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.5em;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.r7 .card-title {
  font-weight: 300;
  margin: 1em;
}

.r7 .last {
  font-weight: 900;
  margin-left: 5px;
  transition: .35s margin;
}

.r7 .quote {
  border-right: 3px solid #fff;
  bottom: 0;
  font-size: .8em;
  margin-right: 1em;
  max-width: 250px;
  opacity: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  text-align: right;
  transform: translate3d(-50px, 0, 0);
  transition: .35s opacity, .45s transform;
}

.r7 .card:hover .quote {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.r7 .card:hover .last {
  margin-left: -5px;
}

.r7 .card:hover .card-background {
  opacity: .65;
  transform: translate3d(0, 0, 0);
}

/* R8 styling */
.r8 p {
  margin: 0;
}

.r8 .card-background {
  height: 100%;
  opacity: .65;
  transform: translate3d(0, 0, 0);
  transition: .35s opacity, .35s transform;
}

.r8 .card:hover .card-background {
  opacity: 1;
  transform: translate3d(0, -25px, 0);
}

.r8 .card-desc {
  background: #333;
  bottom: 0;
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  min-height: 90px;
  padding: 1em;
  position: relative;
  transition: .35s bottom;
}

.r8 .card:hover .card-desc {
  bottom: 90px;
}

.r8 .card-desc .address {
  font-size: 2em;
}

.r8 .card-desc .neighborhood {
  color: rgba(255, 255, 255, .7);
}

.r8 .card-desc .listing-info {
  display: flex;
}

.r8 .card-desc .item {
  border: 2px solid #fff;
  border-radius: 2px;
  line-height: 1em;
  margin: auto;
  padding: 10px;
}

.r8 .card-desc .cost {
  letter-spacing: 1px;
  margin-left: 10px;
}

/* R9 Styling */
.r9 .card-background {
  height: 100%;
  opacity: 1;
  transition: .35s filter;
  width: 100%;
}
.r9 .card:hover .card-background {
  filter: blur(3px) brightness(.85);
}

.r9 figcaption {
  bottom: 2em;
  height: calc(100% - 4em);
  left: 2em;
  position: absolute;
  right: 2em;
  top: 2em;
  width: calc(100% - 4em);
  z-index: 1;
}

.r9 figcaption::after {
  border: 4px solid #fff;
  bottom: 0;
  content: '';
  height: 6em;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: .35s background, .35s top, .35s width, .35s height;
  width: 100%;
  z-index: -1;
}
.r9 .card:hover > figcaption::after {
  background: transparent;
  height: 50px;
  top: 15em;
  width: 140px;
}

.r9 .item {
  background: transparent;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin: 1em;
  transition: .35s color;
}
.r9 .card:hover .item {
  color: #fff;
}

.r9 .description {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  left: -10px;
  margin: 1em 2em;
  opacity: 0;
  position: relative;
  transition: .35s opacity, .35s left;
}
.r9 .card:hover .description {
  left: 0;
  opacity: 1;
}

.r9 hr {
  border: 1px solid #fff;
  margin: -1em 0 0 0;
  opacity: 0;
  transition: .35s width ease-in, .2s opacity;
  width: 0px;
}
.r9 .card:hover hr {
  opacity: 1;
  width: 100%;
}

.r9 .add {
  background: transparent;
  border: none;
  bottom: -10em;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
  height: 52px;
  letter-spacing: 1px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  transition: .5s opacity, .35s bottom, .25s background, .25s color;
  width: 148px;
}
.r9 .add:hover {
  background: #fff;
  color: #333;
}
.r9 .card:hover .add {
  bottom: 0;
  opacity: 1;
}
